h1 {
  font-family: 'Lobster', cursive;
  color: blue;
  font-size: 28px;
}

p {
  font-family: 'Arial';
  color: navy;
}

ul {
  font-family: 'Times New Roman';
  color: green;
}

ol {
  list-style-type: none;
  counter-reset: number;
  font-family: 'Times New Roman';
  color: green;
}

ol li:before {
  color: blue;
  counter-increment: number;
  content: counter(number) '.';
}

img {
  width: 550px;
  height: 500px;
  background-image: url(https://pp.userapi.com/c639325/v639325780/4fcb4/Fq15_..);
  float: none;
}
