@import url(//fonts.googleapis.com/css?family=Roboto);
.menu{
  width: 1080px;
  height: 65px;
  background-color: #3e4757;
}

.flex-list {
  display: flex;
  list-style-type: none;
  padding: 0px 0px 0px;
  margin-left: 94px;
  margin-right: 94px;
  justify-content: space-around;
}

.flex-item {
  display: flex;
  margin-top: 25px;
}

.flex-link {
  text-decoration: none;
  font-family: Roboto;
  font-size: 13px;
  letter-spacing: 0.9px;
  color: #ffffff;
}

.flex-link:hover {
  padding: 0px 0px 22px;
  border-bottom: 3px solid #ffdd2d;
}
