@import url(//fonts.googleapis.com/css?family=Roboto);
@import url(//fonts.googleapis.com/css?family=Roboto+Condensed);

h1 {
  font-family: 'Roboto Condensed';
  font-size: 50px;
  color: blue;
}

h2 {
  font-family: 'Roboto Condensed';
  font-size: 30px;
  color: red;
}

.tagline1 {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
}

.tagline2 {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
}

p {
  font-family: 'Roboto';
  color: navy;
}

ul {
  font-family: 'Roboto';
  color: navy;
}

li span {
  font-family: 'Roboto';
  font-size: 25px;
  color: navy;
}

#wrapper {
  margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */
  max-width: 960px; /* 2 */
  padding-right: 10px; /* 3 */
  padding-left: 10px; /* 3 */
}

img {
  width: 400px;
  height: 400px;
  float: none;
}

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  color: deeppink;
}

.videoAndMapWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.videoAndMapWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 960px;
  height: 540px;
}
