@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese);

body {
  width: 100%;
  margin: 0;
}

.conteiner {
  margin: 0 auto;
  max-width: 830px;
  padding: 2px 250px 0 0;
}

.Mask {
  width: 100%;
  height: 413px;
  overflow: hidden;
  margin: 0 auto;
  background-image: linear-gradient(to right, #1489e7, #003e82);
}

button {
  width: 212px;
  height: 62px;
  text-align: center;
  border-radius: 6px;
  background-color: #ffdd2d;
  margin-top: 3px;
}

.font1 {
  width: 342px;
  height: 100px;
  font-family: Roboto;
  font-size: 50px;
  font-weight: 100;
  line-height: 1;
  color: #fff;
  margin-top: 91px;
  margin-bottom: 18px;
}

.font2 {
  width: 326px;
  height: 48px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
}

.font3 {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.41;
  text-align: center;
  color: #333;
  border: 0;
}

.Cards {
  margin-left: -1.15em;
  margin-top: -1.15em;
  width: 542px;
  height: 413px;
  object-fit: contain;
  float: left;
  transform: scale(1.32);
}

.floating-box {
  display: inline-block;
  width: 150px;
  height: 75px;
  margin-left: 34px;
}
